<!doctype html>
<html lang="en">
<head>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DRAG&DROP</title>
</head>
<body>

<div class="container w-full min-h-[100vh] bg-[#0b0423] flex items-center justify-center">
    <div class="w-[300px] min-h-[400px] m-[20px] border-[2px] border-dashed border-[#fff]" id="left">
        <div class="list bg-[#391363] h-[60px] m-[30px] text-[#fff] flex items-center cursor-grab" draggable="true"><i class='bx bx-lock-open w-[10px] mr-[15px] ml-[20px]'></i>LIST ITEM</div>
        <div class="list bg-[#391363] h-[60px] m-[30px] text-[#fff] flex items-center cursor-grab" draggable="true"><i class='bx bx-lock-open w-[10px] mr-[15px] ml-[20px]'></i>LIST ITEM</div>
        <div class="list bg-[#391363] h-[60px] m-[30px] text-[#fff] flex items-center cursor-grab" draggable="true"><i class='bx bx-lock-open w-[10px] mr-[15px] ml-[20px]'></i>LIST ITEM</div>
        <div class="list bg-[#391363] h-[60px] m-[30px] text-[#fff] flex items-center cursor-grab" draggable="true"><i class='bx bx-lock-open w-[10px] mr-[15px] ml-[20px]'></i>LIST ITEM</div>
    </div>
    <div class="w-[300px] min-h-[400px] m-[20px] border-[2px] border-dashed border-[#fff]" id="right"></div>
</div>

<script>
    let lists=document.getElementsByClassName("list");
    let left=document.getElementById("left");
    let right=document.getElementById("right");

    for(list of lists) {
        list.addEventListener("dragstart", (e) => {
            let selected = e.target;

            right.addEventListener("dragover",(e)=>{
                e.preventDefault();
            });

            right.addEventListener("drop", (e) => {
                right.appendChild(selected);
                selected=null;
            });

            left.addEventListener("dragover",(e)=>{
                e.preventDefault();
            });

            left.addEventListener("drop", (e) => {
                left.appendChild(selected);
                selected=null;
            });
        });
    }
</script>

</body>
</html>