<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RTCC</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>

<body class="m-0 flex justify-center h-[100vh] items-center bg-[salmon]">

    <div class="container bg-[#FFC0CB] w-[400px] p-[20px] m-[5px] rounded-[10px] shadow-md">
        <h2 class="text-[50px] font-serif">RTCC</h2>
        <textarea
            class="resize-none w-full h-[100px] text-[18px] p-[10px] box-border border-solid border-[2px] border-[darkgrey]"
            id="textarea" placeholder="WRITE" maxlength="50"></textarea>
        <div class="countercontainer flex justify-between px-0 py-[5px]">
            <p class="text-[18px] text-[gray]">TOTAL: <span class="total text-[slateblue]" id="total"></span></p>
            <p class="text-[18px] text-[gray]">REMAINING: <span class="rem text-[orangered]" id="rem"></span></p>
        </div>
    </div>

    <script src="../js/realtimecc.js"></script>

</body>

</html>