<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/Tem1.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="Background">
        <form>
            <h1>
                Temperature Convertion:
            </h1>
            <input type="number" id="A1" value="0"><br>

            <input type="radio" id="A2" name="unit">

            <label for="A1">Celcius ➡️ Ferenhite </label><br>

            <input type="radio" id="A3" name="unit">

            <label for="A1">Feranhite ➡️ Celcius </label><br>
            <button type="button" onclick="convert()">SUBMIT</button>
            <p id="B1">SELECT A UNIT</p>
        </form>
    </div>
    <script src="../js/Tem2.js"></script>
</body>

</html>