body
{
    background-image:url(national-cancer-institute-w7Pby5bDKW4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
}
#con
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    backdrop-filter: blur(5px); /* Correcting the backdrop-filter */
    background-color: hsla(34, 78%, 91%, 0.188);
    width: 100%;
    max-width: 600px;  /* Ensure it doesn't stretch too wide */
    padding: 20px;     /* Add some padding for visual appeal */
}
