<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Check2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="A1">
    <label for="A1">SUB</label>
  
     <input type="radio" id="A2" name="card">
     <label for="A2">Visa</label>
     <input type="radio" id="A3"name="card">
     <label for="A3">Master</label>
     <input type="radio" id="A4"name="card">
     <label for="A4">Paypak</label>
     <button id="B1">Submit</button>
     <p id="B2"></p>
     <p id="B3"></p>
    <script src="../js/check3.js"></script>
</body>
</html>