<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Sswitchc.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="slider">
        <div class="slides">
            <img class="slide" src="../assets/images/alexandr-podvalny-tE7_jvK-_YU-unsplash.jpg" alt="">
            <img class="slide" src="../assets/images/riccardo-pelati-_-Cg7vTw3bs-unsplash.jpg" alt="">
            <img class="slide" src="../assets/images/martha-dominguez-de-gouveia-nMyM7fxpokE-unsplash.jpg" alt="">
        </div>
        <button class="prev" onclick="prevslide()">&#10094</button>
        <button class="next" onclick="nextslide()">&#10095</button>
    </div>

    <script src="../js/Sswitchj.js"></script>
</body>
</html>